parameters:
    ignoreErrors:
        -
            message: "#^Call to an undefined method Crud\\\\Datasource\\\\RepositoryInterface\\:\\:deleteAllExpiredOrUsed\\(\\)\\.$#"
            count: 1
            path: src/Command/ClearTokensCommand.php

        -
            message: "#^Call to an undefined method Crud\\\\Datasource\\\\RepositoryInterface\\:\\:verify\\(\\)\\.$#"
            count: 1
            path: src/Controller/TokensController.php

        -   message: "#^PHPDoc tag \@param for parameter \$token with type array\|Cake\\\\Datasource\\\\EntityInterface is not subtype of native type Cake\\\\Datasource\\\\EntityInterface\\.$#"
            count: 1
            path: src/Model/Table/TokensTable.php
